@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Corfirmação de Alteração de Senha";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua senha foi alterada. Por favor <a asp-page="./Login">clique aqui para entrar</a>.
</p>
